<mat-toolbar color='primary' class="navbar">
  <div>Cerebral</div>
  <div>
    <a routerLink="/home"><span>Home</span></a>
    <a routerLink="/attendance"><span>Attendance</span></a>
    <!-- <a routerLink="/study"><span>Study</span></a> -->
    <a routerLink="/login"><span>Login</span></a>
    <a routerLink="/performance"><span>Performance</span></a>
    <a routerLink="/user"><span>User</span></a>
    <a routerLink="/image"><span>Study</span></a>
  </div>

</mat-toolbar>


<router-outlet></router-outlet>

