<h2 style="color: rgb(48, 48, 204);">Study Material</h2>
<hr>
<input type="file" name="pic" accept="image/*" (change)="onFileChanged($event)">
<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-storage.js"></script>

<img *ngIf="tat" src="{{url}}">
<table class="table table-hover extend">
    <thead>
        <th>Study Materials</th>

    </thead>
    <tbody>
        <tr *ngFor="let l of imageDetails">
            <td>{{l.Image_name}}</td>
            <td>{{l.updated}}</td>
            <button mat-raised-button (click)="viewImage(l,tat)">View Image</button>
        </tr>
    </tbody>
</table>
<hr>

